* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #050404;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo img {
    width: 80px;
}

.smartDoc h1 {
    color: #fff;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #ddd;
}

/* Auth Buttons */
.auth-buttons {
    display: flex;
}

.auth-buttons .btn {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
}

.auth-buttons .btn:hover {
    background-color: #0056b3;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.about-project, .who-we-are {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}